#page-auth {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
    width: 100%;

    background: url("../assets/images/capa.jpg") no-repeat;
    background-size: cover;

    color: var(--white);

    > div {
      margin-top: 20%;

      width: 80%;
      padding: 1rem;

      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 16px;

      text-align: center;
    }

    strong {
      font: 700 1.25rem "Poppins", sans-serif;
      line-height: 1.5rem;
    }

    p {
      font-size: 1rem;
      line-height: 1rem;
      margin-top: 0.8rem;
      color: #f8f8f8;
    }

    .mobile {
      width: 90px;
      height: 80px;

      margin-bottom: 0.5rem;
    }
  }

  main {
    height: 100vh;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
      width: 70%;
    }

    h2 {
      font-size: 1.5rem;
      margin: 64px 0 24px;
      font-family: "Poppins", sans-serif;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: var(--white);
        border: 1px solid #a8a8b3;
        text-align: center;
      }

      button {
        margin-top: 16px;
      }

      button,
      input {
        width: 70%;
      }
    }

    p {
      font-size: 1rem;
      color: var(--gray);
      margin-top: 16px;

      a {
        color: var(--primary);
      }
    }
  }

  .create-room {
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #ea4335;
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 14px;
    color: #a8a8b3;

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 16px;
    }

    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-left: 16px;
    }
  }
}

@media (min-width: 1024px) {
  #page-auth {
    flex-direction: row;
    align-items: stretch;
    height: 100vh;

    aside {
      flex: 7;

      position: relative;

      padding: 120px 80px;

      > div {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 60%;
      }

      img {
        max-width: 320px;
      }

      strong {
        font-size: 2rem;
        line-height: 2rem;
      }

      p {
        font-size: 1.5rem;
        line-height: 1.8rem;
      }

      .mobile {
        display: none;
      }
    }

    main {
      flex: 8;
    }

    .main-content {
      max-width: 500px;

      > img {
        width: 100%;
      }

      form {
        input,
        button {
          width: 100%;
        }
      }
    }
  }
}
