:root {
  --red: #f90505;
  --secondary: #29292e;
  --dark-gray: #737380;
  --gray: #a8a8b3;
  --primary-color: #fff;
  --text: #fcfaf9;
  --dark-red: #ea4335;
  --aside-container: rgba(0, 0, 0, 0.4);
  --box-shadow: rgba(0, 0, 0, 0.04);
}

:root.dark {
  --red: #ea443552;
  --secondary: #fcfaf9;
  --dark-gray: #dcdce4;
  --gray: #a8a8b3;
  --primary-color: #272635;
  --text: #1e1e24;
  --dark-red: #ea4335;
  --aside-container: rgba(253, 253, 253, 0.4);
  --box-shadow: rgba(255, 254, 254, 0.04);
  --background-container: #31303f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  color: var(--secondary);
}

body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}
