:root {
  --primary: #f90505;
  --secondary: #29292e;
  --gray: #737380;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: var(--secondary);
}

body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}
