.room-code {
  height: 40px;
  min-width: 270px;
  border-radius: 8px;
  overflow: hidden;

  color: var(--secondary);

  background: var(--primary-color);
  border: 1px solid var(--dark-red);
  cursor: pointer;

  display: flex;

  div {
    background: var(--dark-red);
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: 230px;
    font-size: 14px;
    font-weight: 500;
  }
}
